# traefik-service.yaml
# Service pour Traefik

apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: default

spec:
  type: LoadBalancer
  ports:
  - name: web
    port: 80
    targetPort: web
  - name: websecure
    port: 443
    targetPort: websecure
  - name: admin
    port: 8080
    targetPort: admin
  selector:
    app: traefik
