# traefik-config.yaml
# Configuration de base pour Traefik

apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: default

data:
  traefik.yml: |
    api:
      dashboard: true
      insecure: true
    
    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"
    
    providers:
      kubernetesCRD: {}
      kubernetesIngress: {}
    
    log:
      level: INFO
    
    accessLog: {}
